<h1><%= @num_dice %>d<%= @num_sides %></h>

<h2><%= "#{@outcome}" %></h2>
<p>
<a href="/process_roll?dice=<%= @num_dice %>&sides=<%= @num_sides %>">Roll again</a>
|
<a href="/">Go back home.</a>
</p>

<ol>
  <% @dice.each do |a_roll| %>
  <li>
    <em>Result:</em> <strong><%= a_roll %></strong>
  </li>

  <% end %>
</ol>
